.footer {
    position: sticky;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
}

.footer-email {
    font-size: 0.9rem;
}

