.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    z-index: 1;
}

.footer-email {
    font-size: 0.9rem;
}

