.action-buttons.open .action-button {
    /* this how it looks after the animation so it's visible, bigger and can be clicked */
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
}

.action-button {
    padding: 2rem;
    min-width: 12rem;
    position: fixed;
    right: 6rem;
    opacity: 0;
    transform: translateY(10px) translateX(30px) scale(0.8);
    /* this just means that its moved and smaller when the animation is still not played */
    pointer-events: none;
    /* the buttons cannot be clicked when they are invisible */
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

/*here are some delays so that the buttons don't play the animation simultaneously*/
.action-buttons.open .action-button:nth-of-type(1) {
    transition-delay: 0.05s;
}

.action-buttons.open .action-button:nth-of-type(2) {
    transition-delay: 0.1s;
}

/* removes the outline from the charts */
.no-outline:focus,
.no-outline *:focus {
    outline: none;
}