
.action-buttons.open .action-button {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
}

.action-button {
    padding: 2rem;
    min-width: 12rem;
    position: fixed;
    right: 6rem;
    opacity: 0;
    transform: translateY(10px) translateX(30px) scale(0.8);
    /* das heisst einfach es ist nach unten verschoben und kleiner wo die animation noch nicht geladet ist */
    pointer-events: none;
    /* die buttons können nicht geklickt werden wenn sie unsichtbar sind */
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

/*hier sind noch 2 delays sodass der obere button eine grössere verzögerung hat*/
.action-buttons.open .action-button:nth-of-type(1) {
    transition-delay: 0.05s;
}

.action-buttons.open .action-button:nth-of-type(2) {
    transition-delay: 0.1s;
}

/* entfernt die outline den charts */
.no-outline:focus,
.no-outline *:focus {
    outline: none;
}